@font-face {
    font-family: 'DS-Digital';
    src: url('fonts/DS-DIGIB.TTF') format('truetype');
    font-weight: bold;
}


body{
    background-color: #0B1416;
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

div#timer{
    background-color:#04090A;
    padding: 10em;
    text-align: left;
    width: 47em;

}

#time {
    font-family: 'DS-digital';
    font-size: 10rem;
    color: #ECEDED;
}

#controls{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button{
    font-family: 'MuseoModerno';
    font-size: 2rem;
    border-radius: 2rem;
    padding: 1em;
    width: 49%;

}

#start-stop{
    background-color: #07b107;
}

#reset{
    background-color: rgb(233, 36, 36);
}